cloud_id                  = "aaaa"
folder_id                 = "aaaa"
zone                      = "ru-central1-a"
public_key_path           = "~/.ssh/id_rsa.pub"
subnet_id                 = "aaaa"
service_account_key_file  = "~/kaey.json"
private_ssh_path          = "~/.ssh/id_rsa"
image                     = "aaaa"
count_node                = "aaaa"
